.img {
  position: absolute;
  border: 1px solid red;
  /* width: 90%; */
  /* margin-left: 20%; */
  /* margin-top: 5%; */
}
.image {
  /* padding-top: 5%; */
  /* margin-top: 5%; */
  /* margin-left: 5%; */
  position: absolute;
  width: 53%;
  height: auto;
  margin-left: -55%;
  margin-top: 9%;
  /* background-color: darkblue; */
}
.section1 {
  display: flex;
  justify-content: space-between;
}
.row {
  justify-content: space-around;
}
.tag-line {
  position: relative;
  font-size: 2.2rem;
  margin-top: 30%;
  /* background-color: yellow; */
  font-family: "Poppins", sans-serif;
  margin-left: 28%;
  margin-bottom: 0px;
  line-height: 50px;
  color: #3e4d53;
}
.wrap_content p {
  font-family: "Poppins", sans-serif;
  margin-left: 28%;
  /* margin-top: 2%; */
  line-height: 10px;
  font-size: 1.3rem;
  color: #3e4d53;
  letter-spacing: 0px;
}
li {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  margin-left: 55%;
  color: #3e4d53;
}
.wrap_content {
  /* width: "30%"; */
  margin-left: -7%;
}
.wrap_input {
  display: flex;
  flex-direction: row;
  /* margin-left: -7%; */

  /* background-color: tomato; */
}
.inputField {
  height: 150%;
  width: 150%;
  padding: "5%";
  margin-left: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.3rem;
  margin-top: 5%;
}
.btn {
  position: absolute;
  background-color: #06c992;
  /* height: 155%; */
  width: 10%;
  height: 9%;
  border: 1px solid #06c992;
  border-radius: 5px;
  margin-left: 23%;
  margin-top: 1%;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
.w3-container1 {
  display: flex;
  flex-direction: column;
  margin-top: 17%;
  background-image: linear-gradient(155deg, #edf3e3 0, #bff6f1 100%);
  height: 32rem;
  text-align: center;
  /* padding-top: 7rem; */
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
.PrivateHr {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.privateKeys {
  /* margin-top: 10%; */
  margin-left: auto;
  margin-right: auto;
}
.img-fluid {
  position: absolute;
  width: 40%;
  height: auto;
  margin-left: -18%;
  margin-top: -2%;
}
.ExchangeHr {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  margin-top: 35%;
  margin-left: 35%;
}
.Heading3 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #3e4d53;
  /* padding-top: 3%; */
  font-weight: 400;
  /* margin-top: -0.5rem; */
  line-height: 40px;
}
.Heading7 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #3e4d53;
  /* padding-top: 3%; */
  font-weight: 400;
  margin-top: -1rem;
  line-height: 40px;
}
.ExchangeHr p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #3e4d53;
}
.sendHr {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  margin-top: 15%;
  margin-right: 15%;
}
.Heading4 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #3e4d53;
  line-height: 30px;
  font-weight: 400;
}
.sendHr p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #3e4d53;
}
.ProtectedHr {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  margin-top: 25%;
  margin-right: 15%;
}
.Heading5 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #3e4d53;
  font-weight: 400;
  line-height: 40px;
  margin-top: -3%;
}
.ProtectedHr p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #3e4d53;
}
.aboveFooter {
  /* width: "40%"; */
  background-color: #3e4d53;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  height: 46rem;
}
.aboveFooter p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}
.Heading6 {
  /* margin-top: 8rem; */
  text-align: center;
  color: white;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;
}
.container1 {
  padding: 10rem 0 7rem;
  margin-top: 8rem;
}
.wrap_input_below {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inputField1 {
  height: 150%;
  width: 150%;
  padding: "5%";
  /* margin-left: 95%; */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.3rem;
  margin-top: 5%;
}
.btn1 {
  position: absolute;
  background-color: #06c992;
  height: 8%;
  width: 10%;
  border: 1px solid #06c992;
  border-radius: 5px;
  margin-left: -1.5%;
  margin-top: 5%;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}
.green_line {
  height: 3px;
  width: 7rem;
  background: #03a67b;
  margin-top: -3rem;
}
.green_line1 {
  height: 3px;
  width: 7rem;
  background: #03a67b;
  /* margin-top: 2rem; */
}
.green_line2 {
  height: 3px;
  width: 7rem;
  background: #03a67b;
  /* margin-top: 2rem; */
}
