.nav-links1 {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.logo {
  margin-left: 8rem;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #fbfbfc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  z-index: 1;
}
